* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(46, 155, 176);


  font-family: 'Nunito', sans-serif;
  font-size: 24px;
  font-weight: 600;
}

.conteiner {
  margin: 20px;
}

.sector {
  margin-top: 50px;
  align-items: center;
  justify-content: space-around;
}
  


.title {
  cursor: pointer;
  background-color: #f9ca83;
	padding: 1em 1em;
  margin-top: 10px;
	border-radius: 6px;

	font-size: 16px;
	font-weight: 400;
}

.title:hover {
  background-color: #fcf5b0;

}


.sector_2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  align-items: center;
  justify-content: space-between;
}

.kind {
  cursor: pointer;
  background-color: #f9ca83;
	padding: 8px;
  margin: 5px;
  width: auto;
  text-align: center;
	border-radius: 12px;

	font-size: 16px;
	font-weight: 400;
}

.kind:hover {
  background-color: #fcf5b0;

}